@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #09090b;
    /* zinc-950 */
    color: white;
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: rgba(24, 24, 27, 0.5);
    /* zinc-900/50 */
}

::-webkit-scrollbar-thumb {
    background: rgba(63, 63, 70, 0.8);
    /* zinc-700 */
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(82, 82, 91, 1);
    /* zinc-600 */
}